!!!
%html
  %head
    %title Taskr
    %link{ :rel=>"stylesheet/less", :type=> "text/css", :href=> "/stylesheets/screen.less" }/
    = stylesheet_link_tag 'jquery-ui-aristo'
    = javascript_include_tag 'jquery.min', 'jquery-ui.min', 'less', 'application'
    = csrf_meta_tag
  %body
    =yield
